/* 
.card {
  background: #fff;
  border-radius: 2px;
  height: 200px;
  margin: 1.5rem;
  position: relative;
  width: 200px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: center;
  display: inline-block;
   
}

.card > img {
  height: 100%;
  overflow: hidden;
  text-align: center;
}
.card > .img-container > img {
  width: 100%;
  
} */


.card {
    margin-left: 5px;
    margin-bottom: 5px;
    text-align: center;
    display: inline-block;
}

.card-body {
    padding-bottom: 0px !important;
    
}
.card img {
    margin: 0 auto;
    width: 175px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}

.name {
    text-align: center;
}
