.card {
    margin-left: 5px;
    margin-bottom: 5px;
    text-align: center;
    display: inline-block;
}

.card-body {
    padding-bottom: 0px !important;
    
}
.card img {
    margin: 0 auto;
    width: 175px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}

.name {
    text-align: center;
}
