.container {
    max-width: 980px;
    background: white;
    padding-top: 50px;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 0 0;
    justify-content: space-around;
    align-content: center;
    overflow: auto;
}






/* .container {
    padding-top: 50px;
    background: #ffffff;
    height: 100%;
    width: 100%;
    text-align: center;

} */
